<!-- views/partials/elksidebar-menu.ejs -->
<!-- <header> -->
<!-- <div class="elksidebar-menu">
    <div >
            <nav class="ibm-left-sidebar">
                    <ul>
                        <li>
                            <a href="http://justinfarrow.com">
                                <i class="fa fa-dashboard"></i>
                                <span class="nav-text">
                                    Dashboard
                                </span>
                            </a>
                          
                        </li>
                        <li class="has-subnav">
                            <a href="#">
                                <i class="fa fa-laptop"></i>
                                <span class="nav-text">
                                    UI Components
                                </span>
                            </a>
                            
                        </li>
                        <li class="has-subnav">
                            <a href="#">
                               <i class="fa fa-list"></i>
                                <span class="nav-text">
                                    Forms
                                </span>
                            </a>
                            
                        </li>
                        <li class="has-subnav">
                            <a href="#">
                               <i class="fa fa-folder-open"></i>
                                <span class="nav-text">
                                    Pages
                                </span>
                            </a>
                           
                        </li>
                        <li>
                            <a href="#">
                                <i class="fa fa-bar-chart-o"></i>
                                <span class="nav-text">
                                    Graphs and Statistics
                                </span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="fa fa-font fa-2x"></i>
                                <span class="nav-text">
                                    Typography and Icons
                                </span>
                            </a>
                        </li>
                        <li>
                           <a href="#">
                               <i class="fa fa-table fa-2x"></i>
                                <span class="nav-text">
                                    Tables
                                </span>
                            </a>
                        </li>
                        <li>
                           <a href="#">
                                <i class="fa fa-map-marker fa-2x"></i>
                                <span class="nav-text">
                                    Maps
                                </span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                               <i class="fa fa-info fa-2x"></i>
                                <span class="nav-text">
                                    Documentation
                                </span>
                            </a>
                        </li>
                    </ul>
        
                    <ul class="logout">
                        <li>
                           <a href="#">
                                 <i class="fa fa-power-off fa-2x"></i>
                                <span class="nav-text">
                                    Logout
                                </span>
                            </a>
                        </li>  
                    </ul>
                </nav>
    </div>

</div>
-->
<div class="menu__sidebar-menu">
    <div class="menu__top ps ps--theme_default">
        <ul class="menu__menu___2jPQE">
                <li class="menu__item-link___2XIB_">
                    <a href="/ui/dashboards">
                        <span class="fa fa-fw fa-tachometer menu__icon___2WMq6"></span>Dashboards</a>
                </li>
                <li class="menu__submenu___1HibS menu__item___AA1Nd">
                    <div class="menu__title___3wSAw">
                        <span class="fa fa-fw fa-server menu__icon___2WMq6"></span>
                        <span><!-- react-text: 64 -->Infrastructure<!-- /react-text --><i class="fa fa-caret-right menu__close___1aao6"></i></span>
                    </div>
                    <span></span>
                </li>
                <li class="menu__item-link___2XIB_">
                        <a href="/ui/monitoring"><span class="fa fa-fw fa-area-chart menu__icon___2WMq6"></span>
                        <!-- react-text: 70 -->Monitoring<!-- /react-text -->
                        </a>
                    </li>
                    <li class="menu__item-link___2XIB_">
                        <a href="/ui/logs"><span class="fa fa-fw fa-bars menu__icon___2WMq6"></span>
                        <!-- react-text: 74 -->Logs<!-- /react-text -->
                        </a>
                    </li>
                    <li class="menu__item-link___2XIB_">
                        <a href="/ui/correlations"><span class="fa fa-fw fa-random menu__icon___2WMq6"></span>
                        <!-- react-text: 78 -->Correlations<!-- /react-text -->
                        </a>
                    </li>
                    <li class="menu__submenu___1HibS menu__item___AA1Nd">
                        <div class="menu__title___3wSAw">
                            <span class="fa fa-fw fa-flag-o menu__icon___2WMq6"></span>
                            <span><!-- react-text: 83 -->Alerts &amp; Events<!-- /react-text -->
                            <i class="fa fa-caret-right menu__close___1aao6"></i></span>
                        </div>
                        <span></span>
                    </li>
                    <li class="menu__submenu___1HibS menu__hasActive___3I4JM menu__item___AA1Nd">
                        <div class="menu__title___3wSAw">
                            <span class="fa fa-fw fa-cubes menu__icon___2WMq6"></span><span>
                            <!-- react-text: 90 -->Integrations<!-- /react-text --><i class="fa fa-caret-right menu__close___1aao6"></i>
                            </span>
                        </div>
                        <span></span>
                    </li>
            </ul>
    </div>
</div>
    <!-- ngIf: !anonymous -->
    
    <!-- end ngIf: !anonymous -->
<!-- </header> -->
