<!-- views/partials/head.ejs -->
<meta charset="UTF-8">
<title>{{ elktitle }}</title>
    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- font awesome css -->
    <link href="css/font-awesome/css/font-awesome.min.css" rel="stylesheet" />

    <!-- <link rel="mask-icon" type="" href="https://production-assets.codepen.io/assets/favicon/logo-pin-f2d2b6d2c61838f7e76325261b7195c27224080bc099486ddd6dccb469b8e8e6.svg" color="#111">
    <link rel="stylesheet prefetch" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/6.0.0/normalize.min.css">
    <link rel="stylesheet prefetch" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet prefetch" href="https://fonts.googleapis.com/css?family=Lobster">
    <link rel="stylesheet prefetch" href="https://fonts.googleapis.com/css?family=Josefin+Slab">
    <link rel="stylesheet prefetch" href="https://fonts.googleapis.com/css?family=Roboto:300">
    -->
   <!-- 
    <link href='//fonts.googleapis.com/css?family=Raleway:400,100,300,700' rel='stylesheet' type='text/css' />
    <link href='//fonts.googleapis.com/css?family=Open+Sans:400,400italic,600,600italic,700,700italic,800,800italic,300italic,300' rel='stylesheet' type='text/css' />
    <link href='//fonts.googleapis.com/css?family=Titillium+Web:400,700,600,300,200,900' rel='stylesheet' type='text/css' />
    <link href='//fonts.googleapis.com/css?family=Inconsolata:400,700' rel='stylesheet' type='text/css' />
    <link href='//fonts.googleapis.com/css?family=Roboto+Mono:300,400,500,700' rel='stylesheet' type='text/css' />
    <link href="//fonts.googleapis.com/css?family=Roboto:100,300,400,500,700" rel="stylesheet">
    
-->

    <link rel="icon" type="image/png" href="img/favicon.png">
    <link rel="apple-touch-icon" href="http://freedashboardtemplates.com/wp-content/themes/freedashboard1/images/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="http://freedashboardtemplates.com/wp-content/themes/freedashboard1/images/apple-touch-icon-72x72.png" />
    <link rel="apple-touch-icon" sizes="114x114" href="http://freedashboardtemplates.com/wp-content/themes/freedashboard1/images/apple-touch-icon-114x114.png" />
    <!-- Vendor: Angular, followed by our custom Javascripts -->


    <!-- Vendor: Javascripts -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

    <!-- <link rel="stylesheet" href="css/style.css">-->
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/top-navbar-menu.css">
    <link rel="stylesheet" href="css/sidebar-menu.css">
        <!-- <link rel="stylesheet" href="css/ssc.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/dashboard.css">-->
