<!-- views/partials/header.ejs -->


    <nav class="navbar navbar-inverse" style="border-radius: 0px;">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="/">Real-Time Analytics<span class="coligo"> | COLIGO.IO</span></a>
                <a class="navbar-brand" href="/kibana"><a href="/about">Kibana</a>
            </div>
        </div>
    </nav>

    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h3>Open up the analytics dashboard in a new tab/window</h3>
                <h4 class="header"><a href="/dashboard">Analytics Dashboard</a></h4>
                <h3>Use the links below to test the real-time analytics dashboard</h3>
                <h4 class="header"><a href="/">Homepage</a></h4>
                <h4 class="header"><a href="/about">About Us</a></h4>
                <h4 class="header"><a href="/contact">Contact Us</a></h4>
                <h4 class="header"><a href="/contact">Contact Us</a></h4>
                <h4 class="header"><a href="/contact">Contact Us</a></h4>
                <h4 class="header"><a href="/contact">Contact Us</a></h4>
            </div>
        </div>
    </div>
<!-- 



<div id="fixedheader">
    <div class="ibmLogo">
        <img src="img/ibmpos_blue_thumb.png" alt="logo" />
    </div>
    Top div content
</div>
<nav class="navbar navbar-default" role="navigation">
<div class="container-fluid">

    <div class="navbar-header">
        <a class="navbar-brand" href="#">
            <span class="glyphicon glyphicon glyphicon-tree-deciduous"></span>
            EJS Is Fun
        </a>

        <ul class="nav navbar-nav">
            <li><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
        </ul>
    </div>

</div>
</nav>
-->
