<!-- views/pages/index.ejs -->
<!DOCTYPE html>
<html lang="en" ng-app="ibmElasticDashboard">
<head>
    <% include ../templates/head %> 
</head>
    <body ng-controller="ibmElasticController" translate="no" style>
        <section id="container" class>
            <header class="header white-bg box-shadow">
                <div>
                    <% include ../templates/ibm-top-menu-nav %>
                </div>
            </header>

            <div ng-controller="ibm-left-sidebar">
                    <% include ../templates/elksidebar-menu %>
            </div>
            <div ui-view></div>
        </section>
        <script>
            $('.wix-topbar-selector').click(function(){
                if($(this).find('.show-wix-topbar-select-menu').length){
                $(this).find('.show-wix-topbar-select-menu').removeClass('show-wix-topbar-select-menu');
            }
            else{
                $(this).find('.wix-topbar-select-menu').addClass('show-wix-topbar-select-menu');
            }
         })
        </script>
        <% include ../templates/scripts %>
        <% include ../templates/footer %>
    </body>
</html>

