<div class='wix-topbar-holder'>
  <div class='wix-topbar-icon-holder'>
    BNP
  </div>
  <div class='wix-topbar-left-holder'>
    <div class='wix-topbar-selector'>
      <div class='wix-topbar-selector-icon fa fa-bar-chart'></div>
      <div class='wix-topbar-selector-text'>
        Workflow
      </div>
    </div>
    <div class='wix-topbar-selector current-wix-topbar-selector'>
      <div class='wix-topbar-selector-content'>
        <div class='wix-topbar-selector-icon fa fa-eye'></div>
        <div class='wix-topbar-selector-text'></div>
        Recognize
      </div>
      <div class='wix-topbar-select-menu'>
        <div class='wix-topbar-select-menu-title'>
          My Actions
          <div class='wix-topbar-select-menu-button'>
            Go Back
          </div>
        </div>
        <div class='wix-topbar-select-menu-content'>
          <div class='wix-topbar-select-menu-item current-wix-topbar-select-menu-item'>
            <div class='wix-topbar-select-menu-item-icon-holder'>
              <div class='wix-topbar-select-menu-item-icon fa fa-eye'></div>
            </div>
            <div class='wix-topbar-select-menu-item-content'>
              <div class='wix-topbar-select-menu-item-title'>
                Recognize
              </div>
              <div class='wix-topbar-select-menu-item-text'>
                Extract field content from scanned documents
              </div>
            </div>
          </div>
          <div class='wix-topbar-select-menu-item'>
            <div class='wix-topbar-select-menu-item-icon-holder'>
              <div class='wix-topbar-select-menu-item-icon fa fa-eye'></div>
            </div>
            <div class='wix-topbar-select-menu-item-content'>
              <div class='wix-topbar-select-menu-item-title'>
                Recognize
              </div>
              <div class='wix-topbar-select-menu-item-text'>
                Extract field content from scanned documents
              </div>
            </div>
          </div>
          <div class='wix-topbar-select-menu-item'>
            <div class='wix-topbar-select-menu-item-icon-holder'>
              <div class='wix-topbar-select-menu-item-icon fa fa-eye'></div>
            </div>
            <div class='wix-topbar-select-menu-item-content'>
              <div class='wix-topbar-select-menu-item-title'>
                Recognize
              </div>
              <div class='wix-topbar-select-menu-item-text'>
                Extract field content from scanned documents
              </div>
            </div>
          </div>
          <div class='wix-topbar-select-menu-item'>
            <div class='wix-topbar-select-menu-item-icon-holder'>
              <div class='wix-topbar-select-menu-item-icon fa fa-eye'></div>
            </div>
            <div class='wix-topbar-select-menu-item-content'>
              <div class='wix-topbar-select-menu-item-title'>
                Recognize
              </div>
              <div class='wix-topbar-select-menu-item-text'>
                Extract field content from scanned documents
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class='wix-topbar-right-holder'>
    <div class='wix-topbar-circle-button'>
      <div class='wix-topbar-circle-button-icon fa fa-bell'></div>
    </div>
    <div class='wix-topbar-circle-button'>
      <div class='wix-topbar-circle-button-icon fa fa-plus'></div>
    </div>
    <div class='wix-topbar-circle-button'>
      <div class='wix-topbar-circle-button-icon fa fa-file-excel-o'></div>
    </div>
    <div class='wix-topbar-circle-button'>
      <div class='wix-topbar-circle-button-icon fa fa-user'></div>
    </div>
    <div class='wix-topbar-circle-button'>
      <div class='wix-topbar-circle-button-icon fa fa-question'></div>
    </div>
  </div>
</div>